<html class="browse-page">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">
        <Title>Browse</Title>
    </head>
    <body>
        <section class="main-section">
            <header class="headerContent">                
                <div class="header-image"></div>
                <a href="../view/HomePage.html" target="_self" class="home-page-button"><div ><img src="../../img/home.png"></div></a>
                <div class="headerTitle"><img src="../../img/genLogo.png"></div>
                <div class="headerImage"></div>
                <a class="codeLogo" href="https://www.codeandtheory.com/" target="_blank"><div >Code and Theory</div></a> <!--target _blank opens new tab-->
            </header>
            <div class="main-content">    
                <h1 class="page-not-found">Page Not Found</h1>            
                <div class="search-bar">
                    <label for="article ">Choose Your Article</label>
                    <input list="articles" name="article" id="article">
                    <datalist id="articles">
                        <option value="Teyvat">
                        <option value="Characters">
                        <option value="Home">
                        <option value="Game">
                        <option value="Skills">
                        <option value="Element">                    
                    </datalist>
                    <button type="submit" onclick="fetchPage()">Browse</button>
                </div>
            </div>
            <footer class="footer">
                <div class="socials">
                    <a href="https://github.com/Arisko07/HarvestLife"><img alt="Git Icon" class="giticon" src="../../img/gitwhite.png"></a>
                    <a href="https://facebook.com"><img alt="Facebook Icon" class="faceIcon" src="../../img/faceIcon.png"></a>
                    <a href="https://linkedin.com"><img alt="LinkedIn Icon" class="faceIcon" src="../../img/linked.png"></a>
                    <a href="https://www.reddit.com/r/Genshin_Impact/"><img alt="Reddit Icon" class="faceIcon" src="../../img/reddit-logo.png"></a>                
                </div>
                <div class="disclaimer"><p>Disclaimer: Materials referenced are not owned by the developer and is use as demontration purpose only</p></div>
            </footer> <!--footer-->
        </section>
    </body>
    <script src="../js/browse.js"></script>
</html>