<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">
        <link rel="stylesheet" href="../style/game.css">        
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">
        <Title>Memory Game</Title>
    </head>
    <body>
        <header class="headerContent">                
            <div class="header-image"></div>
            <a href="../view/HomePage.html" target="_self" class="home-page-button"><div ><img src="../../img/home.png"></div></a>
            <div class="headerTitle"><img src="../../img/genLogo.png"></div>
            <div class="headerImage"></div>
            <a class="codeLogo" href="https://www.codeandtheory.com/" target="_blank"><div >Code and Theory</div></a> <!--target _blank opens new tab-->
        </header>
        <div class="container">                                
            <section class="game-menu">
                <button class="pull-menu" onclick="pullMenu()">
                    <div></div>
                </button>
                <label for="board-type"><h1>Difficulty</h1></label>
                <select id="board-type" name="boardList" form="boardForm" onchange="fetchCards(this.value)">             
                    <option value="4">Beginner</option>
                    <option value="9">Intermediate</option>
                    <option value="16">Expert</option>            
                </select>
                <div class="box-3d">
                    <div class="side side-1"></div>
                    <div class="side side-2"></div>
                    <div class="side side-3"></div>  
                    <div class="side side-4"></div>                  
                    <div class="side side-5"></div>
                    <div class="side side-6"></div>
                </div>
            </section>        
            <div class="card-container"></div>
        </div>
        <div class="timer">
            <label id="minutes">00</label>
            <label id="colon">:</label>
            <label id="seconds">00</label> 
        </div>  
    </body>
    <script src="../js/game.js"></script>
</html>