<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">
        <link rel="stylesheet" href="../style/game.css">        
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">
        <Title>Memory Game</Title>
    </head>
    <body>
        <header class="headerContent">                
            <div class="header-image"></div>
            <a href="../view/HomePage.html" target="_self" class="home-page-button"><div ><img src="../../img/home.png"></div></a>
            <div class="headerTitle"><img src="../../img/genLogo.png"></div>
            <div class="headerImage"></div>
            <a class="codeLogo" href="https://www.codeandtheory.com/" target="_blank"><div >Code and Theory</div></a> <!--target _blank opens new tab-->
        </header>
        <div class="container">                        
            <section class="game-menu">
                <label for="board-type"><h1>Difficulty</h1></label>
                <select id="board-type" name="boardList" form="boardForm" onchange="fetchCards(this.value)">             
                    <option value="4">Beginner</option>
                    <option value="8">Intermediate</option>
                    <option value="16">Expert</option>            
                </select>
            </section>        
            <div class="card-container"></div>
        </div>        
    </body>
    <script src="../js/game.js"></script>
</html>