html {
  background-color: black;
}

body {
  margin: 0;
  color: #000;
}

.container {
  font-family: "Nunito";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 4vw);
}

.container .game-menu {
  position: fixed;
  height: calc(96vh - 4vw);
  padding: 2vh;
  background-color: white;
  z-index: 101;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.container .game-menu h1 {
  margin: 0;
}

.container .game-menu.open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.container .game-menu .pull-menu {
  position: absolute;
  border-radius: 0 5px 5px 0;
  right: -13%;
  top: calc(50% - 10%);
  width: 15%;
  height: 5%;
  border: 0;
  background-color: white;
}

.container .game-menu .pull-menu div {
  height: 50%;
  width: 30%;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.container .rotate {
  -webkit-animation: rotation 3s infinite linear;
          animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate3d(1, 1, 0, 0);
            transform: rotate3d(1, 1, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 359deg);
            transform: rotate3d(1, 1, 0, 359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate3d(1, 1, 0, 0);
            transform: rotate3d(1, 1, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 359deg);
            transform: rotate3d(1, 1, 0, 359deg);
  }
}

@-webkit-keyframes cardGrow {
  0% {
    -webkit-transform: scale(0) rotate(0);
            transform: scale(0) rotate(0);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes cardGrow {
  0% {
    -webkit-transform: scale(0) rotate(0);
            transform: scale(0) rotate(0);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

.container .box-3d {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 30px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transition: -webkit-transform 2s linear;
  transition: -webkit-transform 2s linear;
  transition: transform 2s linear;
  transition: transform 2s linear, -webkit-transform 2s linear;
}

.container .box-3d .side {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
}

.container .box-3d .side-1 {
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
}

.container .box-3d .side-2 {
  background-color: red;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotateX(90deg) translateY(25px);
          transform: rotateX(90deg) translateY(25px);
}

.container .box-3d .side-3 {
  background-color: green;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotateX(-90deg) translateY(-25px);
          transform: rotateX(-90deg) translateY(-25px);
}

.container .box-3d .side-4 {
  background-color: blue;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotateY(-90deg) translateX(25px);
          transform: rotateY(-90deg) translateX(25px);
}

.container .box-3d .side-5 {
  background-color: yellow;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(90deg) translateX(-25px);
          transform: rotateY(90deg) translateX(-25px);
}

.container .box-3d .side-6 {
  background-color: violet;
  -webkit-transform: translateZ(-25px);
          transform: translateZ(-25px);
}

.card-container {
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  /* grid-column-gap: 10px; */
  width: 60%;
  margin: auto;
  grid-gap: 10px;
  -ms-grid-columns: 357.1428571428571px 357.1428571428571px;
      grid-template-columns: 357.1428571428571px 357.1428571428571px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-container .card-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.card-container .card-overlay.show {
  display: block;
  z-index: 98;
}

.card-container.expert {
  width: 60%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-container.inter {
  width: 60%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card {
  position: relative;
  width: 100%;
  padding-bottom: 140%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: cardGrow 0.5s ease-out backwards;
          animation: cardGrow 0.5s ease-out backwards;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 99;
}

.card:hover {
  z-index: 100;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border: 2px white solid;
  border-radius: 1vh;
  color: black;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, transform 0.5s;
  transition: background-color 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.face-down .card-front:hover, .face-down .card-back:hover {
  border-color: red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-back {
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.timer {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  top: 10vw;
  right: 5%;
  margin-top: 10px;
  padding: 0.5% 1%;
  border-radius: 20px;
  font-size: 1.5em;
}

@media screen and (max-width: 750px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 10vw);
  }
  .container .game-menu {
    background-color: white;
  }
  .container .card-container {
    margin-top: 5%;
    width: 90%;
  }
  .timer {
    font-size: 1em;
  }
}
/*# sourceMappingURL=game.css.map */