body{margin: 0;}
.headerContent{
    background-color: black;
    color: white;
    height: 6vw;
    background-image: url(/HarvestLife/img/yellowBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito';
}
.headerTitle{margin-left: 5%;}
.codeLogo{
    margin-right: 5%;
    padding: 1%;
    background-color: black;
}
a{
    text-decoration: unset;
    color: unset;
}
.content{
    font-family: 'Nunito';
    background: red;    
    height: 4rem;
    margin: 5% 10%;
    display: flex;
}
.sidebar{
    width: 2px;
    background-color: white;    
    height: 80%;
    align-self: center;
}
.mainContent{
    flex:1;
    background-color: black;
}
.sideContent{
    width: 30%;
}
.charactersTeyvat{
    display: flex;
    justify-content: center;
}