html{
    background-image: url(/HarvestLife/img/shooting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{margin: 0;}
.headerContent{
    background-color: black;
    color: white;
    height: 6vw;
    background-image: url(../img/yellowBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito';
}
.headerTitle{margin-left: 5%;}
.codeLogo{
    margin-right: 5%;
    padding: 1%;
    background-color: black;
}
a{
    text-decoration: unset;
    color: unset;
}
.content{
    font-family: 'Nunito';
    color: white;      
    margin: 5% 10%;
    padding: 0 1%;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
}
.sidebar{
    width: 2px;
    margin: 0.5% 1%;
    background-color: white;    
    border-radius: 99px;
}
.sideBorder{
    width: 100%;    
    border: 1px solid;
    margin: 5% 0;
}
.mainContent{
    flex:1;
    margin: 1% 0;    
}
.mainContent h4,.mainContent h3,.mainContent h2,.mainContent h1{display: inline;}
.sideContent{
    width: 30%;
    margin: 1% 0;
}
.contentText{margin-right: 5%;flex:1;}
.contentText li{display: flex;}
.contentText img{margin-right: 5%;}
.contentArticle{display: flex;}
.contentImage{width: 40%;}
.contentImage img{width: 100%;}
.charactersTeyvat{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito';    
    color: white;
    padding-bottom: 5%;
}
.footer{
    position: absolute;
    width: 98%;    
    background-color: black;
    color:white;
    font-family: 'Nunito';
    padding: 1%;
}
.socials{
    display: flex;
    justify-content: center;    
}
.socials img{height: 25px;}
.socials a{margin: 0 5px;}